<!DOCTYPE html>
<html>
<head>
    <title>Add Pokémon</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        form {
            width: 50%;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #F9F9F9;
            font-size: 12px;
        }
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
            color: black;
        }
        input, select, button {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="checkbox"], input[type="radio"] {
            width: auto;
            margin-right: 5px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            font-size: 12px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45A049;
        }
    </style>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1 style="text-align: center;">Add Character</h1>
    <form action="/add" method="POST">
        <!-- Pokémon Description -->
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="first_name"  required oninput="this.value = this.value.toUpperCase()">
    <!-- Base Total -->
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="last_name" required oninput="this.value = this.value.toUpperCase()">
    <!-- Date Created -->
    <!-- Active Pokémon (Checkbox) -->
    <label for="jedi">
        Are they a Jedi? <br> Check If Yes
    </label>
      <input type="checkbox" id="jedi" name="jedi" value="true" >
      <br>
    
    <!-- Gender (Radio Buttons) -->
    <label>Weapon</label>
    <label>
      <input type="radio" name="weapon" value="L" > LIGHTSABER
    </label>
    <label>
      <input type="radio" name="weapon" value="B"> BLASTER
    </label>
    <label>
      <input type="radio" name="weapon" value="N"> NONE
    </label>
    <!-- Pokémon Type -->
    <label for="planets">Planet</label>
    <select id="planets" name="planet_id">
       
      <% planets.forEach(planet => { %>
        <option value="<%= planet.id %>"><%= planet.planet_name %></option>
          
      <% }) %>
    </select>
        <!-- Submit Button -->
        <button type="submit">Add Pokémon</button>
    </form>
</body>
</html>

